@charset "UTF-8";

/*共通部分-----------------------------------------------------------------------*/

html {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255)
}

body {
    margin: 0;
    padding: 0;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
    color: #333;
    line-height: 2.0;
    letter-spacing: 0.1em;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    vertical-align: bottom;
}

figure {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: all .6s ease;
}

a:hover {
    transition: all .6s ease;
}

.content-wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 1400px;
}

section h2 {
    font-size: 2rem;
}


/*ヘッダー-------------------------------------------------------------------*/

.header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 1;
}

.header h1 {
    margin: 0 0 0 25px;
    font-size: -2.5rem;
    color: #fff;
}

.header nav ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.header nav ul li {
    margin: 0 20px;
}

header nav li a {
    color: #fff;
}

header nav li a:hover {
    opacity: 0.6;
}

.header nav li.phone {
    margin: 0 30px 0 10px;
    padding: 0 25px;
    border: 1px solid #fff;
    line-height: 50px;
    display: block;
    color: #fff;
}


/*メインビジュアル------------------------------------------------*/

.mainvisual {
    position: relative;
}

.mainvisual img {
    height: 700px;
    object-fit: cover;
    object-position: 0 15%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.mainvisual h2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 5vw;
    color: rgb(243, 243, 243);
}


/*RESUME------------------------------------------------------------------------*/

.Educational {
    padding: 20px;
}

.Educational .content-wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.Educationals .heading {
    width: 35%;
}

.Educational .heading h3 {
    position: relative;
    padding-bottom: 0.5rem;
    width: 350px;
}

.Educational .heading h3::before,
.Educational .heading h3::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    height: 4px;
}

.Educational .heading h3::before {
    z-index: 2;
    width: 15%;
    background-color: #444;
}

.Educational .heading h3::after {
    width: 100%;
    background: -webkit-repeating-linear-gradient(45deg, #fff, #fff 2px, #aaa 2px, #aaa 4px);
    background: repeating-linear-gradient(45deg, #fff, #fff 2px, #aaa 2px, #aaa 4px);
}

.Educational .content_1 {
    width: 75%;
}

.Educational .content_1 table {
    width: 100%;
    margin-top: 50px;
}

.Educational .content_1 th {
    padding: 0;
    width: 100px;
    border-bottom: 1px dotted;
    padding-right: 40px;
}

.Educational .content_1 td {
    border-bottom: 1px dotted;
}

.Educational .content_1 tr:last-of-type th,
.Educational .content_1 tr:last-of-type td {
    border-bottom: none;
}


/*好きな言葉　目標---------------------------------------------------------------------*/

.target {
    background: url(../images/4166.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.target::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.target .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: ２;
}

.target h2 {
    color: #fff;
    text-align: left;
}

.target p {
    color: #fff;
    text-align: left;
    margin-bottom: 70px;
}

.target {
    background: url(../images/4166.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.target::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.target .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: ２;
}

.target h2 {
    color: #fff;
    text-align: left;
}

.target p {
    color: #fff;
    text-align: left;
    margin-bottom: 70px;
}


/*趣味など----------------------------------------------*/

.hobby {
    padding: 10% 0;
    position: relative;
}

.hobby::after {
    content: "";
    background-color: rgba(177, 177, 177, 0.274);
    height: 150%;
    width: 40%;
    position: absolute;
    top: -10%;
    left: 30%;
    transform-origin: left top;
    transform: skewX(-30deg);
    z-index: -1;
}

.hobby ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    transform: skewY(2deg);
    height: 528px;
    width: 1100px;
}

.hobby ul li {
    width: 48%;
    position: relative;
}

.hobby ul li figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 43%;
    background: rgba(50, 50, 50, 0.7);
    z-index: 1;
    transition: all .6s ease;
    height: 528px;
    width: 532px;
}

.hobby ul li a:hover figure::after {
    background: rgba(50, 50, 50, 0.4);
    transition: all .6s ease;
}

.hobby li span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(-2deg);
    z-index: 2;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}


/*CONTACT------------------------------------------------------------------*/

.contact1 {
    width: 100%;
    height: 300px;
    background: url(../images/4148.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.contact1::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.contact1 ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
}

.contact1 li {
    width: 300px;
    margin: 0 50px;
}

.contact1 li a {
    border: 1px solid #fff;
    font-size: 1.25rem;
    color: #fff;
    display: block;
    text-align: center;
    padding: 1em 0;
}

.contact1 li a:hover {
    background: #fff;
    color: #333;
}


/*フッター---------------------------------------------------------------------*/

.footer section {
    padding-top: 120px;
}

.footer .high {
    border-bottom: 1px solid #333;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .high h1 {
    font-size: 1.5rem;
}

.footer .high ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 25px;
}

.footer .high li a {
    color: #333;
    padding: 0 25px;
}

.footer .high li a:hover {
    opacity: 0.6;
}

.footer .low {
    padding: 25px 0 80px 0;
    color: #333;
}

.footer .low span {
    padding-left: 1em;
}

.footer section p {
    color: #333;
    text-align: center;
    font-size: 0.75rem;
}


/*レスポンシブ--------------------------------------------
-------------------------------------------------------*/


/*スマホ------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1199px) {
    /*ハンバーガー-------------------------------------------------------------------------------*/
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 26px;
        cursor: pointer;
    }
    header nav {
        display: none;
    }
    .nav-button,
    .nav-button span {
        display: inline-block;
    }
    .nav-button {
        position: relative;
        width: 30px;
        height: 26px;
    }
    /*ハンバーガーの線---------------------------------------------------------------*/
    .nav-button span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
    }
    .nav-button span:nth-of-type(1) {
        top: 0;
    }
    .nav-button span:nth-of-type(2) {
        top: 11px;
    }
    .nav-button span:nth-of-type(3) {
        bottom: 0;
    }
    /*メインビジュアル-----------------------------------------------*/
    .mainvisual img {
        height: auto;
    }
    /*RESUME------------------------------------------------------------*/
    .Educational {
        padding: 50px 5vw;
    }
    .Educational .content-wrapper {
        display: block;
    }
    .Educational .heading {
        width: 100%;
    }
    .Educational .heading h2 {
        text-align: center;
        margin-bottom: 5vw;
    }
    .Educational .content {
        width: 100%;
    }
    /*フッター---------------------------------------------------------------------*/
    .footer .high {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    /*RESUME-------------------------*/
    .Educational {
        padding: 50px 0;
        width: 90%;
        margin: 0 auto;
    }
    .Educational .content .btn a {
        width: 35%;
        min-width: 200px;
        margin: 0 auto;
    }
    /*趣味など--------------------------*/
    .hobby ul {
        transform: none;
    }
    .hobby li span {
        transform: translate(-50%, -50%);
        font-size: 1.75rem;
    }
    /*フッター---------------------------------------------------------------------*/
    .footer section {
        padding-top: 50px;
    }
    .footer .high li {
        width: calc(100%/3);
        margin: 0 0 10px;
    }
    .footer .high li a {
        display: block;
        text-align: center;
        padding: 0;
    }
}

@media screen and (max-width: 479px) {
    /*RESUME---------------------------------------*/
    .Educational .content th {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1.25em 0 0 0;
        border-bottom: 0;
    }
    .Educational .content td {
        display: block;
        width: 100%;
    }
    /*好きな言葉　目標------------------------------------------*/
    .target .content {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .target h2,
    p {
        text-align: center;
    }
    .target p.btn a {
        width: 30%;
        min-width: 200px;
        margin: 0 auto;
    }
    /*趣味など-----------------------------------------------*/
    .hobby ul li {
        width: 90%;
        margin: 0 auto 20px auto;
    }
    /*フッター---------------------------------------------------------------------*/
    .footer .high h1,
    .low {
        text-align: center;
    }
}